.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fil, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}
@import url("../utils/productItem/productItem.css");
.delete-all{
  text-align: right;
  margin: 20px;

}
.delete-all input{
  height: 25px;
  width: 25px;
  transform: translateY(5px);
  margin:0 15px
}
.delete-all span{
  text-transform: uppercase;
  color:rgb(3,165,206);
  letter-spacing: 1.3px;
}
.delete-all button{
  border:1px solid crimson;
  padding: 10px 10px;
  color: crimson;
  text-transform: uppercase;

}
.filter_menu{
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}
.filter_menu select,input{
  border:1px solid #ccc;
  border-radius: 10px;
  outline: none;
  height: 40px;
  padding: 0 5px;
}
.filter_menu select{
  float: left;
  min-width: 50%;
}
.filter_menu input{
  /* flex:2; */
  /* margin-left: 50%; */
  float: right;
  min-width: 50%;
  
  margin: 0 10px;
} 
.load_more{
  margin: 20px;
 
  text-align: center;

}
.load_more button{
  
  height: 40px;
  border-radius: 10px;
  border:1px solid #555;
  text-transform: capitalize;
}
.hello{
  margin-top: 10%;
}
.slider{
  margin-top: -12%;
}
@media screen and (max-width:600px){
  .hi{
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .hello{
    margin-top: 30%;
    margin-bottom: 5%;
  }

 
}

